<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ candidate.name }}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Страница кандидата № {{ candidate.pk }}</h2>
    <p>Имя кандидата: {{ candidate.name }}</p>
    <p>Позиция кандидата: {{ candidate.position }}</p>
    <p><img src='{{ candidate.picture }}' alt="Изображение отсутствует"></p>
    <p>Навыки: {{ candidate.skills }}</p>
    <p>Возраст: {{ candidate.age }}</p>
    <p>Пол: {{ candidate.gender }}</p>
</body>
</html>