<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <h2>Выбери необходимое действие:</h2>
    <hr>
    <h3>
        <p>Первая часть ДЗ</p>
        <li><a href='/part1/' target=_blank>Cтраница презентация</a></li>
        <hr>
        <p>Вторая часть ДЗ</p>
        <p> Выберите:</p>
        <li><a href='/candidates/' target=_blank>Посмотреть список <em>всех</em> кандидатов</a></li>
        <li><a href='/candidate/0/' target=_blank>Страница поиска конкретного кандидата по его <em>id</em></a></li>
        <li><a href='/names/0/' target=_blank>Страница поиска конкретного кандидата по его <em>имени</em></a></li>
        <li><a href='/skills/0/' target=_blank>Страница поиска кандидатов по <em>навыку</em></a></li>
        <hr>
    </h3>
</body>
</html>