<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Русин Владислав</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <p><img src="1.jpg" width="400" height="480"></p>
        <p>Я очень хочу освоить <strong>Python</strong>. <a href="stepik.org"> Тут его можно изучить глубже</a></p>
        <p>Я очень <em>общительный</em> человечек</p>
        <p>У меня есть любимая жена,
            <mark>Яночка</mark>
        </p>
        <p>Сейчас мы
            <del>работаем</del>
            отдыхаем в прекрасном месте: <br>
        <h1>Абхазия!</h1></p>
<button>КНОПКА</button>
<hr>
        <h2>
<i>Тэг i - курсив</i>
        <b>Тэг b - жирный</b>
<u>Тэг u - подчеркнутый</u>
<strong> Тэг strong</strong>
            <em>Тэг em курсив </em>
            </h2>
</body>
</html>